/* here is the cart page >>>>>>>>>>>>>>>>> */
*{
    box-sizing: border-box;
}
body{
  background-color: rgba(250, 246, 248, 0.733);
  margin: 0;
  padding: 0;
}
.headerlogo{
 
 
  margin: 0;
  position: relative;
  right: 700px;
  width: 75%;
 
}

  
  
     header {
      display: flex;
      position: fixed;
      width: 100%;
      height: 70px; 
  
        background-color: rgb(250, 246, 248);
      justify-content: center;
      align-items: center;
    }
  header a i{
   color:  rgb(83, 80, 80) ;
   display: inline-block;
     
     position: relative;
    left: 720px;
   
   
  }
  header ul :nth-child(3){
    font-size: 64px;
  }
  header a span{
    color:  rgb(83, 80, 80) ;
   
      
      position: relative;
     left: 720px;
   
     
   }
  
    .mySlides {
        display:none;
      }
   #nav-container {
      position: fixed;
      height: 100vh;
      width: 100%;
      pointer-events: none;
    } 
   
    /* #nav-container * {
      visibility: visible;
    } */
    .button {
       position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 70px;
      width: 30px;
      cursor: pointer;
      pointer-events: auto;
      margin-left: 25px;
      
  
    }
    .icon-bar {
      display: block;
      width: 100%;
      height: 3px;
      background: rgb(83, 80, 80);
      transition: .3s;
    }
    .icon-bar + .icon-bar {
      margin-top: 5px;
    } 
    
    #nav-container:focus-within .button {
      pointer-events: none;
    } 
    #nav-container:focus-within .icon-bar:nth-of-type(1) {
      transform: translate3d(0,8px,0) rotate(45deg);
    } 
    #nav-container:focus-within .icon-bar:nth-of-type(2) {
      opacity: 0;
    }
    #nav-container:focus-within .icon-bar:nth-of-type(3) {
      transform: translate3d(0,-8px,0) rotate(-45deg);
    }
    
    #nav-content {
      margin-top: 70px;
      padding: 20px;
      width: 90%;
      max-width: 300px;
      position: absolute;
      top: 0;
      left: 0;
      height: calc(100% - 70px);
      background: transparent;
      pointer-events: auto;
      transform: translateX(-100%);
      transition: transform .3s;
      will-change: transform;
      
    }
    
    #nav-content ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 0;
      list-style: none;
    }
    
    #nav-content li a {
      padding: 10px 5px;
      display: block;
      text-transform: uppercase;
      transition: color .1s;
      font-family: 'Righteous', cursive;
    }
    
    #nav-content li a:hover {
      color: #BF7497;
    }
    a:link {
      text-decoration: none;
      outline: 0;
    }
    
    a {
      color: currentColor;
      transition: .2s ease-in-out;
    }
   
  /* This is for li in the bottom */
     #nav-content li:not(.small) + .small {
      margin-top: 200px;
    }
     
    .small {
      display: flex;
      align-self: center;
    }
    
    .small a {
      font-size: 12px;
      font-weight: 400;
      color: #888;
      margin-left: 15px;
    } 
   
    #nav-container:focus-within #nav-content {
      transform: none;
    }
.container-products {

    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
  padding-top: 200px;
  
  }
  
  .checkOutText{
  text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
   font-size: larger;
  }
  .container-products ion-icon {
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
  }
  
  .product-title {
    width: 45%;
  }
  
  .price {
    width: 15%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
  }
  
  .quantity {
    width: 30%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
  }
  
  .total {
    width: 10%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
  }
  
  .product {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
  }
  
  .product ion-icon {
    cursor: pointer;
    
  }
  
  .products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .products img {
    width: 75px;
  }
  
  .basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
  }
  
  .basketTotalTitle {
    width: 30%;
  }
  
  .basketTotal {
    width: 10%;
  }
  
  @media(max-width: 500px) {
    nav h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;;
    }
  
    .sm-hide {
        display: none;;
    }
  
    .products,
    .product-header {
        justify-content: center;
    }
  
    .basketTotalContainer {
        padding-right: 8%;
    }
  }
  
  /* here is the checkout form style cart page*/
  
  .rowBilling{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
   
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .checkOutcontainer {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    
    
  }
  
  input[type=textboarder] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid rgb(19, 18, 18);
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .cartIcon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }
  /* here the end of cart page css */
  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }
   
  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    text-shadow: 0 0 3px #F7AFAF, 0 0 5px #A8A8DF;
   
   
   
   
  }
   
  #exitButton{ 
    padding: 10px;
    width: 40px;
    border: none;
   
  
    color: rgb(10, 10, 10);
    font-weight: bold;
   
  }

  .checkoutSection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
   
 
  }

